
a.g-action {
  color: var(--vscode-editor-foreground) !important;
  text-decoration: none;
}

button.g-action {

  font-family: var(--f-family);
  font-weight: var(--f-weight);
  font-size: var(--f-size);

  height: var(--input-h);
  line-height: var(--input-h);
  background: var(--input-background);
  color: var(--input-foreground);

  border: var(--border-radius) solid var(--color-border);
  box-sizing: border-box;
  padding: 0 var(--p-md);

  &:focus {
    border-color: var(--color-border-focus) !important;
  }

  &.la-highlighted {
    border-color: var(--input-foreground);
  }

}

.g-action {

  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none !important;

  &:hover {
    text-decoration: underline;
  }

  &.la-disabled {
    color: var(--color-disabled) !important;
    user-select: none;
    cursor: not-allowed;
  }

  > .g-icon + span {
    margin-left: var(--p-sm);
    margin-right: var(--p-md);
  }
}
