
a.g-action {

  color: var(--vscode-editor-foreground) !important;
  text-decoration: none;
  outline: none !important;

  &:hover {
    text-decoration: underline;
  }

  &.la-disabled {
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
  }
}

.g-action {

  display: flex;
  align-items: center;

  > .g-icon + span {
    margin-left: var(--p-sm);
  }
}