
.g-dropdown {

  position: relative;
  cursor: pointer;
  display: inline-block;
  max-width: max-content;

  > div:first-child {
    height: var(--input-h);
    padding: 0 var(--p-lg);
  }

  &:hover {

    .ld-content {
      display: flex;
    }

    .ld-title {
      text-decoration: underline;
    }
  }
}

.ld-title {
  text-transform: uppercase;
  font-weight: var(--bold);
}

.ld-content {

  display: none;

  flex-direction: column;

  position: absolute;
  border-radius: var(--border-radius);
  min-width: 18rem;
  background-color: var(--color-border);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  > a.g-action {

    padding: var(--p-xs) var(--p-lg);

    &:first-child {
      padding-top: var(--p-sm);
    }

    &:last-child {
      padding-bottom: var(--p-md);
    }
  }
}

