


.g-loading {

  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--color-border);

  animation: 1.5s ease 0s normal forwards 1 g-loading-fade-in;
}


@keyframes g-loading-fade-in {
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}