
.g-icon {

  height: var(--h-icon);
  user-select: none;

  path {
    stroke-width: 4px;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.li-spin {
    animation: g-icon-spin 1s infinite;
    animation-timing-function: linear;
  }
}


@keyframes g-icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
