
.g-key {

  display: flex;
  flex-direction: row;
  width: 100%;

  .g-key-value {
    flex-basis: 100%;
  }

  .g-key-locale {

    padding-left: var(--p-lg);
    padding-right: var(--p-lg);
    height: var(--input-h);
    display: flex;
    align-items: center;

    label {
      text-transform: uppercase;
      display: flex;
      font-weight: var(--bold);
      color: var(--color-locale);
      min-width: var(--locale-w);
      max-width: var(--locale-w);
      justify-content: space-between;
      font-size: 0.8rem;
    }
  }

  .g-key-value {

    padding-top: var(--p-xs);
    height: var(--input-h);
    padding-bottom: var(--p-sm);
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    > span {
      font-weight: var(--bold);
      padding-right: var(--p-lg);
      padding-left: var(--p-lg);
    }

    > div {
      display: inline-flex;
    }
  }
}
