
.g-panels {

  > .lrp-draggable {
    z-index: 1;
  }

  .lp-left {
    display: flex;
    flex-direction: column;
    height: var(--h);
    min-height: var(--h);
    max-height: var(--h);
  }

  .lp-left, .lp-right-top, .lp-right-bottom {
    padding-top: var(--p-xs);
    box-sizing: border-box;
    height: 100%;
  }

  .lp-right-top, .lp-right-bottom {
    display: flex;
    flex-direction: column;
  }
}
