
.g-panel-keys {

  > .lpk-bar {
    padding-left: var(--p-lg);
    padding-right: var(--p-lg);
  }

  > .lpk-keys-list {
    padding-top: var(--p-md);
    padding-bottom: var(--p-md);
    flex-basis: 100%;
  }

}