

$border: var(--border-width) solid var(--color-border);


.g-translation {

  position: relative;
  border-top: $border;
  border-bottom: $border;
  background: var(--color-background);

  padding-bottom: calc(var(--p-xs) + var(--p-md));

  &:not(:first-child) {
    margin-top: calc(-1 * var(--border-width));
  }

  &:hover::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: vat(--p-xs);
    left: 0;
    top: 0;
    color: vat(--color-border-focus);
  }

  .lt-header {

    display: flex;
    flex-direction: row;

    > .lt-grow {
      flex-grow: 1;
    }

    .lt-actions {

      font-size: 0.88rem;
      text-transform: uppercase;
      letter-spacing: 0.016rem;
      font-weight: 300;

      .g-icon {
        height: var(--h-icon-upper);
      }
    }

    .lt-locale {

      display: flex;
      justify-content: space-between;
      color: var(--color-locale);
      min-width: var(--locale-w);
      max-width: var(--locale-w);

      .lt-disabled {
        color: var(--color-border);
      }
    }

    .lt-topper {

      margin-top: calc(-1 * var(--p-md));
      height: var(--p-md);

      .lt-topper-children {
        margin-top: calc(var(--p-xs) - var(--p-md));
        padding-left: var(--p-lg);
        padding-right: var(--p-lg);
      }

      .lt-topper-black {
        height: var(--p-md);
        background: var(--color-background);
        border-top: $border;
        border-radius: var(--border-radius);
        box-sizing: border-box;
      }

      &:first-child .lt-topper-black {
        border-right: $border;
      }

      &:last-child .lt-topper-black {
        border-left: $border;
      }
    }

  }


  .lt-content {

    font-size: var(--fe-size);
    font-family: var(--fe-family);
    font-weight: var(--fe-weight);

    padding-left: calc(var(--p-lg) - var(--h-icon-padding));
    padding-right: var(--p-lg);
    margin-top: calc(var(--p-xs) + var(--p-md));

    .lt-line {

      display: flex;
      align-items: center;

      > span:first-child {
        margin-right: var(--p-sm);
        align-self: normal;
      }

      > div, textarea {
        flex-grow: 1;
      }
    }

    .lt-diff {

      color: var(--color-locale);
      margin-top: calc(-1 * var(--p-xxs));

      .g-icon {
        opacity: 0.4;
      }

      > div > span {

        opacity: 0.4;

        &.lt-added {
          opacity: 0.8;
          color: var(--color-success);
        }

        &.lt-removed  {
          opacity: 0.8;
          color: var(--color-danger);
          text-decoration: line-through;
        }
      }
    }

    .lt-comment {
      color: var(--color-locale);
    }
  }
}