


.g-translations {
  margin-top: calc(-1 * var(--p-md));
  padding-top: var(--p-md);
  overflow-y: overlay;
  overflow-x: hidden;
}


.g-translations:hover .g-translation:not(:hover) .lt-topper:last-child,
.g-translations:not(:hover) .g-translation:not(:first-child) .lt-topper:last-child {
  display: none;
}
